@{
    // Fill in your information here
    string groupName = "Group 19";
    string[] studentNames = { "Jeel Patel", "Dhrumil Kumbhani", "Chhavi Chhabra" };
    string[] studentIds = { "101410368", "101410402", "101412182" };
    ViewData["Title"] = "Student Information";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS styles */
        .container {
            margin-top: 50px;
        }

        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    @* <div class="container">
        <h1 class="text-center">@groupName</h1>
        <hr>
        <h2 class="text-center">Student Information</h2>
        <div class="row">
            @foreach (var i in Enumerable.Range(0, studentNames.Length))
            {
                <div class="col-md-6">
                    <img src=@imageUrls  class="img-fluid mb-4" alt="@studentNames Image">
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@studentNames[i]</h5>
                            <p class="card-text">Student ID: @studentIds[i]</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
 *@
    <div class="container">
        <h1 class="text-center">@groupName</h1>
        <hr>
        <h2 class="text-center">Group Info </h2>
        <div class="row">
            
                
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Jeel Patel</h5>
                            <p class="card-text">Student ID: 101410368</p>
                        </div>
                    </div>
                </div>

            
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dhrumil Kumbhani</h5>
                        <p class="card-text">Student ID: 101410402</p>
                    </div>
                </div>
            </div>

            
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Chhavi Chhabra</h5>
                        <p class="card-text">Student ID: 101412182</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</body>
</html>
